.ZhihuHead {
    border-bottom: 2px solid #FAFAFA;
    padding: 2rem;
    background-color: white;
}

.ZhihuHead h1 {
    color: #4B4C4C;
    animation: headAnimation 1s ease 1;
    opacity: 1;
}

.ZhihuHead p {
    color: #BBBDBE;
    animation: headAnimation 1s ease 1;
}

@keyframes headAnimation {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}