.list {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease; 
}

.list:hover,
.list:focus,
.list:active {
    color:grey;
    transition: all 0.3s ease; 
    background-color: white;
    outline: none;
}
